<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Todo List</title>
    <link rel="icon" type="image/x-icon" href="/todo.svg">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <h2>List todos</h2>
  </body>
</html>